extends layout

block content
    .body
        .custom-content
            .content-formRuT
                span Rutas
                table.body-table
                    thead
                        tr 
                            th.labelsTa(scope='col') ID
                            th.labelsTa(scope='col') Origen
                            th.labelsTa(scope='col') Destino
                            th.labelsTa(scope='col') Hora Programada
                            th.labelsTa(scope='col') Frecuencia
                            th.labelsTa(scope='col') Duracion
                    tbody
                    - for (var i = 0; i < ruta.length; i++)
                        tr
                            th.labelsTaB(scope='row') #{ruta[i].idruta}                 
                            td.labelsTaB #{ruta[i].origenIATA}
                            td.labelsTaB #{ruta[i].destinoIATA}
                            td.labelsTaB #{ruta[i].horsalidp}              
                            td.labelsTaB #{ruta[i].frecuencia}
                            td.labelsTaB #{ruta[i].duracion} horas
                            td
                                form(action=`DelateRuta/${ruta[i].idruta}`,method="POST")
                                    button.buttons Eliminar
        .custom-content
            .content-formRuT
                    span Update Rutas
                    table.body-table
                        thead
                            tr 
                                th.labelsTa(scope='col') ID
                                th.labelsTa(scope='col') Origen
                                th.labelsTa(scope='col') Destino
                                th.labelsTa(scope='col') Hora Programada
                                th.labelsTa(scope='col') Frecuencia
                                th.labelsTa(scope='col') Duracion
                        tbody
                        - for (var i = 0; i < ruta.length; i++)
                            form(action=`UpdateRuta/${ruta[i].idruta}`,method="POST")
                                tr
                                    th
                                        input.inputsT(type="number" placeholder='idRuta' name='idruta' id='idruta' value=`${ruta[i].idruta}`)                
                                    td
                                        input.inputsT(type="text" placeholder='origenIATA' name='origenIATA' id='origenIATA' value=`${ruta[i].origenIATA}`)
                                    td
                                        input.inputsT(type="text" placeholder='destinoIATA' name='destinoIATA' id='destinoIATA' value=`${ruta[i].destinoIATA}`)
                                    td
                                        input.inputsT(type="text" placeholder='horsalidp' name='horsalidp' id='horsalidp' value=`${ruta[i].horsalidp}`)
                                    td
                                        input.inputsT(type="text" placeholder='frecuencia' name='frecuencia' id='frecuencia' value=`${ruta[i].frecuencia}`)
                                    td
                                        input.inputsT(type="text" placeholder='duracion' name='duracion' id='duracion' value=`${ruta[i].duracion}`)
                                    td
                                        button.buttons(type="submit") Update


    
        
        