extends layout

block content
    .body
        .custom-content
            .content-form
                span Rutas
                table.body-table
                    thead
                        tr 
                            th(scope='col') ID
                            th(scope='col') Origen
                            th(scope='col') Destino
                            th(scope='col') Hora Salida Programada
                            th(scope='col') Frecuencia
                            th(scope='col') Duracion
                            th(scope='col') Eliminar
                    tbody
                    - for (var i = 0; i < ruta.length; i++)
                        tr
                            th(scope='row') #{ruta[i].idruta}                 
                            td #{ruta[i].origenIATA}
                                form(action=`UpdateRuta/${ruta[i].id}`,method="POST")
                                    label.labels(for='origenIATA')
                                    input.inputs(type="number" aria-describedby='precio' placeholder='Precio' name='origenIATA' style="margin-bottom:2px")
                                    button.buttons(type='submit') Update
                            td #{ruta[i].destinoIATA}
                                form(action=`UpdateRuta/${ruta[i].id}`,method="POST")
                                    label.labels(for='destinoIATA')
                                    input.inputs(type="number" aria-describedby='precio' placeholder='Precio' name='destinoIATA' style="margin-bottom:2px")
                                    button.buttons(type='submit') Update
                            td #{ruta[i].horsalidp}
                                form(action=`UpdateRuta/${ruta[i].id}`,method="POST")
                                    label.labels(for='horsalidp')
                                    input.inputs(type="number" aria-describedby='precio' placeholder='Precio' name='horsalidp' style="margin-bottom:2px")
                                    button.buttons(type='submit') Update                 
                            td #{ruta[i].frecuencia}
                                form(action=`UpdateRuta/${ruta[i].id}`,method="POST")
                                    label.labels(for='fechavuelo')
                                    input.inputs(type="number" aria-describedby='precio' placeholder='Precio' name='frecuencia' style="margin-bottom:2px")
                                    button.buttons(type='submit') Update
                            td #{ruta[i].duracion} horas
                                form(action=`UpdateRuta/${rutas[i].id}`,method="POST")
                                    label.labels(for='fechavuelo')
                                    input.inputs(type="number" aria-describedby='precio' placeholder='Precio' name='duracion' style="margin-bottom:2px")
                                    button.buttons(type='submit') Update
                            td
                                a(href='/getRutas')
                                    button.buttons Eliminar  