extends layout

block content

    .body
        .modal.fade(id="Ver" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
            .modal-dialog.modal-lg(role="document")
                .modal-content
                    .modal-header
                        h5.modal-title(id="exampleModalLabel") Lista Origen/Destino
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body
                        .col-12
                            table.table.bg-white
                                thead
                                    tr 
                                        th(scope='col') ID Vuelo
                                        th(scope='col') Origen
                                        th(scope='col') Destino
                                        th(scope='col') Precio
                                        th(scope='col') # Equipaje Economico
                                        th(scope='col') # Equipaje PC
                                        th(scope='col') Peso Max Equipaje
                                        th(scope='col') Duracion
                                    tbody
                                    - for (var i = 0; i < origendestino.length; i++)
                                        tr
                                        th #{origendestino[i].IDVuelo}
                                        th #{origendestino[i].Origen}      
                                        th #{origendestino[i].Destino}
                                        th #{origendestino[i].Precio}
                                        th #{origendestino[i].EE}
                                        th #{origendestino[i].EPC}
                                        th #{origendestino[i].PME}
                                        th #{origendestino[i].Duracion}
                    .modal-footer
                        button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                        button.btn.btn-primary(type="button") Save Changes
        .modal.fade(id="Agregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
            .modal-dialog(role="document")
                .modal-content
                    .modal-header
                        h5.modal-title(id="exampleModalLabel") Agregar Origen/Destino
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body
                        form(method="POST" action="")
                            .form-group
                                label(for='idvuelo') ID Vuelo
                                input(type="text" aria-describedby='idvuelo' placeholder='IDVuelo' name='idvuelo')
                            .form-group
                                label(for='origen') Origen
                                input(type="text" aria-describedby='origen' placeholder='Origen' name='origen')
                            .form-group
                                label(for='destino') Destino
                                input(type="text" aria-describedby='destino' placeholder='Destino' name='destino')
                            .form-group
                                label(for='precio') Precio
                                input(type="number" aria-describedby='precio' placeholder='Precio' name='precio')
                            .form-group
                                label(for='EC') Equipaje Economica
                                input(type="number" aria-describedby='EC' placeholder='Equipaje Economica' name='EC')
                            .form-group
                                label(for='PME') Peso Maximo por Equipaje
                                input(type="number" aria-describedby='PME' placeholder='Peso Maximo por Equipaje' name='PME')
                            .form-group
                                label(for='EPC') Equipaje Primera Clase
                                input(type="number" aria-describedby='EPC' placeholder='Equipaje Primera Clase' name='EPC')
                            .form-group
                                label(for='duracion') Duracion
                                input(type="time" aria-describedby='duracion' placeholder='Duracion' name='duracion')
                                   
                    .modal-footer
                        button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                        button.btn.btn-primary(type="button") Save Changes
        .row
            .col-3.aviones-container
                .col-12
                    .row.body-container__tittle
                        h1 Lista de Origenes/Destinos
                    .row
                        img(src="../images/modelos.jpg", width="100%", height="100%", style="border-radius: 20px")
                    .row
                        .col-6.aviones-container__item
                            button.aviones-container__button(type="button" data-toggle="modal" data-target="#Ver")
                                h5 Ver 
                        .col-6.aviones-container__item
                            button.aviones-container__button(type="button" data-toggle="modal" data-target="#Agregar")
                                h5 Agregar 
            .col-3.aviones-container
                .col-12
                    .row.body-container__tittle
                         
            .col-3.aviones-container
                .col-12
                    .row.body-container__tittle
                        